.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: -1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('slide1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: VT323, monospace;
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: uppercase;
        height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-shadow: rgb(0, 0, 0) 6px 6px 6px;
    font-size: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc00;
}
footer {
    padding-top: 250px;
    font-size: 10px;
}
.intro {
    margin-top: 100px;
    text-align: center;
    padding-top: 10px;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 100px;
    padding-top: 20px;
    text-shadow: rgb(0, 0, 0) 6px 6px 6px;


}

.intro p {
    font-size: 24px;
    margin-bottom: 40px;
    background-color: rgba(89, 89, 89, 0.40);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    padding: 20px;
    border-radius: 20%
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}
